body{
	background-color: #D8D8D8;
}
header{
	width: 1000px;
	height: 120px;
	margin-left: 173px;
	background-color: #fff;
}
header img{
	width: 250px;
	height: 150px;
	margin-top: -20px;
	margin-left: 50px;
}
footer{
	width: 1000px;
	height: 60px;
	margin-left: 173px;
	margin-top: 10px;
	background-color: #000000;
}
footer p{
	color: #fff; 
}
#name{
	margin-left: 180px;
	margin-top: 100px;
}
#content-table{
	width: 995px;
	margin-left: 173;
	margin-top: 30px;
	border: solid 1px;
	border-color: #A80000;
	background-color: #fff;
	border-radius: 10px;
}
table{
	border-collapse: collapse;
	margin-bottom: 30px;

}
table img{
	margin-left: 90px;
}
#conten-menu{
	width: 1000px;
	height: 60px;
	background-color: #A80000 ;
	border-bottom: 0px solid #659f17;
	font-size: 21px;
}
#menu li{
	float:left;
	list-style:none;
	margin:0px;
	padding:0px;
}
#menu li a{
	text-decoration:none;
	color:#E0E0E0;
	padding:10px;
	line-height:40px;
}
#menu li a:hover{
	color:#fff;
}
#solicitudes{
	position: absolute;
	left: 20px;
	width: 1130px;
}
#solicitudes h3{
	margin-left: 580px;
	margin-top: 30px;
}
.listaAlumnos{background-color: #fff;}
table{
	margin-top: 30px;
	margin-left: 10px;
	width: 600px;
}
table th {background-color: #990000; width: 100px;}
table tr:nth-child(odd) {background-color: #993333;}

table tr:nth-child(even) {background-color: #E8E8E8;}
table tr td{
	border: 1px solid #A80000 ;
	width: 100px;
	vertical-align: bottom;
}
#caja{
	position: absolute;
	width: 1000px;
	height: 430px;
	left: 180px;
	top: 140px;
	background-color: #fff;
}
#login{
	width: 400px;
	position: absolute;
	top: 90px;
	left: 330px;
	border-radius: 10px;
	background-color: #fff;
}
#login label{
	margin-left: 90px;
	margin-top: 30px;
}
#login select{
	margin-top: 30px;
}
#login-header{
	height: 50px;
	border-radius: 10px 10px 0 0;
	background-color: #33CCCC;
	border:  solid 1px #3399CC;
	text-align: center;
}
#login-footer{
	height: 50px;
	margin-top: 20px;
	border-radius: 0px 0px 10px 10px;
	border:  solid 1px #3399CC;
	background-color: #E8E8E8;
}
#login-footer input{
	width: 80px;
	height: 35px;
	margin-left: 160px;
	margin-top: 5px;
}
.icon{
	width: 27px;
	height: 28px;
	background-color: #C8C8C8;
	margin-left:114px; 
}
.icon img{
	margin-left: 2px;
	margin-top: 2px;
}
.input input{
	height: 28px;
	margin-left: 140px;
	margin-top: -28px;
}
.icon1{
	width: 27px;
	height: 28px;
	background-color: #C8C8C8;
	margin-left:114px; 
}
.icon1 img{
	margin-left: 5px;
	margin-top: 6px;
}
.input1 input{
	height: 28px;
	margin-left: 140px;
	margin-top: -28px;
}
.negritas{
	font-weight: bold;
}
#permisos{
	margin-left: 200px;
}
#permisos h2{
	margin-left: 200px;
}

#menu .nav{
	text-align: center;
	position: relative;
	z-index: 1;
}
#menu .nav > li {
    float:left;
}
#menu .nav li{
	width: 205px;
	height: 60px;
	background-color: #A80000;
}
#menu .nav li a {
	padding: 0px;
    background-color: #A80000;
    display:block;
}

#menu .nav li a:hover {
	color:#fff;
}

#menu .nav li ul {
	margin-top: 15px;
    display:none;
    position:relative;
}

#menu .nav li:hover > ul {
    display:block;
}

#menu .nav li ul li {
    right: 40px;
    width: 205px;
    height: 60px;
    background-color: #A80000;
    position:relative;
}

#menu .nav li ul li ul {
}
#formulario{
	margin-left: 200px;
	width: 300px;
	height: 300px;
	margin-bottom: 40px;
}
#formulario textarea{
	width: 300px;
	margin-bottom: 10px;
	font-size: 15px;
}
#formulario input{
	margin-left: 15px;
}
#filtro{
	margin-top: -40px;
	margin-left: 350px;
	margin-bottom: 20px;
}